html {
  height: 100%; }

body {
  min-height: 97vh;
  background-color: #8CBED6; }

#above {
  text-align: left;
  padding-left: 40px;
  padding-top: 25px;
  color: #ffe8e8;
  font-family: 'expo-sans-pro-condensed', sans-serif;
  font-weight: 400; }

#cutoff {
  padding-top: 75px; }

#cloud {
  -webkit-transform: translateY(250%);
          transform: translateY(250%);
  border: 8px dotted #FEFEFA; }

#below {
  font-family: 'expo-sans-pro-condensed', sans-serif;
  text-align: left;
  padding-left: 40px;
  padding-top: 75px;
  padding-bottom: 25px;
  Color: #ffe8e8; }

#below .ego #below-name {
  font-weight: 700;
  font-size: 6rem; }

.text-muted {
  color: #d6a58c; }
