body {
  background-color: #000616;
  max-width: 576px;
  margin: auto;
  padding-left: 40px;
  padding-right: 40px;
  padding-top: 10px;
  padding-bottom: 150px;
}

.wrap #lander {
  min-height: 24rem;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: auto;
}

.section {
  display: block;
  align-items: center;
  justify-content: center;
  margin: auto;
  width: 100%;
  color: #FEFEFA;
}

#header {
  margin: auto;
  width: 50%;
  justify-content: center;
  padding-top: 20px;
  padding-bottom: 20px;

}

#cats h1 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  min-width: 100%;
  color: #FEFEFA;
  line-height: 5rem;
  font-family: 'niveau-grotesk', sans-serif;
  font-weight: 300;
}

.inactive-nav {
  opacity: .25;
}

#about {
  max-width: 100%;
}

.about-image {
  max-width: 100%;
  padding-top: 20px;
  padding-bottom: 35px;
}

.about-text {
  text-align: justify;
  font-family: 'niveau-grotesk', sans-serif;
  font-weight: 200;
  font-size: 1.25rem;
}
