body {
  background-color: #8CBED6;
  /*#F4A460*/
}

#above {
  text-align: center;
  /*padding-left: 40px;*/
  padding-top: 25px;
  color: #ffe8e8;
}

#mon-nom {
  font-family: "Helvetica Nueue", sans-serif;
  font-style: italic;
}
/*
#above .cats #takenote {
  font-weight: 400;
  font-size: 3rem;
}
*/
#cutoff {
  padding-top: 75px;
}

#cloud {
  transform: translateY(250%);
  border: 8px dotted #FEFEFA;
}

#below {
  text-align: center;
  /*padding-left: 40px;*/
  padding-top: 100px;
  padding-bottom: 25px;
  Color: #ffe8e8;
}

#below #ego {
  font-weight: 700;
  font-family: "marco", serif;
  font-size: 3.25rem;
}
