body {
  background-color: #8CBED6;
}

#above {
  text-align: center;
  /*padding-left: 40px;*/
  padding-top: 25px;
  color: #ffe8e8;
  font-family: 'expo-sans-pro-condensed', sans-serif;
}
/*
#above .cats #takenote {
  font-weight: 400;
  font-size: 3rem;
}
*/
#cutoff {
  padding-top: 75px;
}

#cloud {
  transform: translateY(250%);
  border: 8px dotted #FEFEFA;
}

#below {
  font-family: 'expo-sans-pro-condensed', sans-serif;
  text-align: center;
  /*padding-left: 40px;*/
  padding-top: 75px;
  padding-bottom: 25px;
  Color: #ffe8e8;
}

#below #ego {
  font-weight: 700;
  font-size: 3rem;
}
