html {
  height: 100%
}
body {
  min-height: 97vh;
  background-color: #8CBED6;
  /*border: 9px solid #10191a;
  margin: 12px;*/
}

#martian-lander {
  align-content: center;
  padding-top: 25px;
}

#cutoff {
  padding-top: 75px;
}

#cloud {
  /*transform: translateY(-175%);*/
  transform: translateY(250%);
  border: 8px dotted #FEFEFA;
}

.ego {
  text-align: center;
  /*color: #10191a;*/
  color: #ffe8e8;
  font-family: 'Journal-Ultra', sans-serif;
  font-weight: 700;
  font-size: 4rem;
  /*padding-top: 245px;*/
}

#bio .takenote {
  text-align: center;
  Color: #ffe8e8;
  font-family: 'Journal-Ultra', sans-serif;
  font-size: 2.5rem;
  font-weight: 400;
  padding-top: 75px;
  padding-bottom: 25px;
}
