html {
  height: 100%
}
body {
  min-height: 97vh;
  background-color: #8CBED6;
  /*border: 9px solid #10191a;
  margin: 12px;*/
}

#above {
  text-align: left;
  padding-left: 40px;
  padding-top: 25px;
  color: #ffe8e8;
  font-family: 'expo-sans-pro-condensed', sans-serif;
  font-weight: 400;
}

#cutoff {
  padding-top: 75px;
}

#cloud {
  /*transform: translateY(-175%);*/
  transform: translateY(250%);
  border: 8px dotted #FEFEFA;
}

#below {
  font-family: 'expo-sans-pro-condensed', sans-serif;
  text-align: left;
  padding-left: 40px;
  padding-top: 75px;
  padding-bottom: 25px;
  Color: #ffe8e8;
}

#below .ego h1 {
  font-weight: 700;
  font-size: 3rem;
}

#below .ego h3 {
  font-weight: 600;
  font-style: italic;
  font-size: 2rem;
}
