html {
  height: 100%
}
body {
  position: relative;
  min-height: 95vh;
  background-color: #FFFAF0;
  border: 12px solid #10191a;
  margin: 20px;
}

#martian-lander {
  position: relative;
  align-content: center;
}

#cutoff {
  padding-top: 220px;
}

.ego {
  text-align: center;
  color: #10191a;
  font-family: 'boucherie-flared', sans-serif;
  font-weight: 600;
  font-size: 4.5rem;
  /*padding-top: 245px;*/
}

#bio .takenote {
  position: relative;
  text-align: center;
  Color: #10191a;
  font-family: 'Gitan-Latin', sans-serif;
  font-size: 3.25rem;
  font-weight: 400;
  padding-top: 120px;
}
